

body, html {
	margin: 0;
	padding:0;
}

.mp {
	background: #6dcb94;
}


.mp-1 {
	background: #ec8200;
}

.header, .footer {
	background: grey;
	height: 75px;
}


.main-content {
	width: 100%;
	height: 100%;
}
